<div class="contenedor-footer">
    <p class="footer_nombre">Doblezzeta</p>
    <footer class="footer">
        <ul class="social-links">
          <li><a href="https://www.facebook.com/share/1W9C7wDX2u/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/doblezzeta00?igsh=em40cHoybWgwZzk=" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.tiktok.com/@doblezzeta00?_t=ZM-8rxQl3o9uwJ&_r=1" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
        </ul>
      </footer>
      

</div>
