<div class="container__registros">
    <div class="area-formulario">
        <h1>El este</h1>
   
      <form [formGroup]="loginForm">
        <div class="form__container__input">
          <label class="form__label" for="">Nombre de usuario</label>
          <input class="form__input" formControlName="nombre_usuario">
        </div>
        <div class="container__form-button">
          <button type="submit" class="button" (click)="aceptar()">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
   