<div class="navbar">
  
 

</div><div class="navbar">
  <nav class="navbar__menu"> 
    <ul class="menu__opciones">
      <li class="menu__opcion"><a routerLink="">Inicio</a></li>
     

      <li *ngIf="estado && (usuario$?.permisos === 'admin' || usuario$?.permisos === 'asistente' || usuario$?.permisos === 'jurado')" class="menu__opcion"><a routerLink="/controles">Controles</a></li>
      <li  *ngIf="!estado"  class="menu__opcion"><a routerLink="/login">Login</a></li>
      <li  *ngIf="estado" (click)="cerrar_secion()"  class="menu__opcion"><a routerLink="/login" >Logout</a></li>
    </ul>
  </nav>
</div>
