<div class="contenedor-home">
    <div class="portada">
        <h1 class="portada__title">PREMIOS MUNDO BANDA</h1>

    </div>
    <section class="seccion__bienvenida">
        <h2 class="bienvenido__title">Premios mundo banda</h2>
        <p class="bienvenida__detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eaque ad veniam ut sapiente nisi nemo ex, consequuntur sed soluta. At accusantium ad ipsa, veritatis doloribus ex eaque laborum accusamus.</p>

    </section>
    <section class="seccion__lugar">
        <h2 class="lugar__title">UTH samepdro sula</h2>
        <p class="lugar__detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eaque ad veniam ut sapiente nisi nemo ex, consequuntur sed soluta. At accusantium ad ipsa, veritatis doloribus ex eaque laborum accusamus.</p>

    </section>

    <section class="seccion__galardon">
        <h2 class="galardon__title">Galardon</h2>
        <p class="galardon__detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eaque ad veniam ut sapiente nisi nemo ex, consequuntur sed soluta. At accusantium ad ipsa, veritatis doloribus ex eaque laborum accusamus.</p>

    </section>

</div>