<div class="contenedor-home">
    <div class="portada">
        <h1 class="portada__title">MUNDO BANDA AWARD</h1>

    </div>
    <section class="seccion__bienvenida">
        
        <p class="bienvenida__detalle">El cine tiene los Oscars, la música tiene los Grammy, el streaming tiene los ESLAND y Mundo banda tiene MUNDO BANDA AWORD. Los premios que celebran la creatividad y el talento de los creadores de contenido, las bandas de guerras, las palillonas y la comunidad que rodea mundo banda.</p>

    </section> 
    <section class="seccion__lugar">
        <h2 class="lugar__title">UTH SPS</h2>
        <p class="lugar__detalle">LA primera edición de los MUNDO BANDA AWORD se realizara en la UTH SPS el 08 de febrero del 2025</p>

    </section>

    <section class="seccion__galardon">
        <h2 class="galardon__title">Galardon</h2>
      

        
       <ul class="galardon_premios"  *ngFor="let categoria of categorias;">
        <li class="galardon_premio">{{categoria.nombre_categoria}}</li>
    
    </ul>
   

        
    </section>

</div>